# Build and Release Folders
node_modules/
dist/
css/
js/
images/
pages/
index.html

# Other files and folders
.settings/
.idea/

# Executables
*.swf
*.air
*.ipa
*.apk
.DS_Store
.zip
.rar
/*.log
/package-lock.json
