/* ============ Navbar ============ */
$navbar-inverse-bg: #222 !default;
$navbar-height: 60px;
$navbar-margin-bottom: 20px;
$navbar-padding-horizontal: floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical: (($navbar-height - $line-height-computed) / 2) !default;

/* ============ header ============ */
.navbar {@include clearfix;position: relative;z-index: 1000;min-height: $navbar-height;margin-bottom: $navbar-margin-bottom;border: 1px solid transparent;
}

.navbar-shadows {text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);background-color: #1d365d;border-color: rgba(0, 0, 0, .2);box-shadow: 0 1px 0 rgba(255, 255, 255, .07);}
.collapse {display: none;}
.navbar-header {@include clearfix;
  @media (min-width: $grid-float-breakpoint) {float: left;}
}
.navbar-collapse {@include clearfix;max-height: 340px;overflow-x: visible;padding-right: $navbar-padding-horizontal;padding-left: $navbar-padding-horizontal; border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);-webkit-overflow-scrolling: touch;
  &.in {display: block;}
  @media (min-width: $grid-float-breakpoint) {width: auto;border-top: 0;box-shadow: none;
    &.collapse {display: block;height: auto;padding-bottom: 0;overflow: visible;}
    &.in {overflow-y: visible;}
  }
}
.collapsing {position: relative;height: 0;overflow: hidden;transition: height .3s ease;}
.container > .nav-collapse, .container > .navbar-header {margin-right: -$navbar-padding-horizontal;margin-left: -$navbar-padding-horizontal;
  @media (min-width: $grid-float-breakpoint) {margin-right: 0;margin-left: 0;}
}
@media (min-width: $grid-float-breakpoint) {
  .nav-left {float: left;}
  .nav-right {float: right;margin-right: -$navbar-padding-horizontal;
    ~ .nav-right {margin-right: 0;}
  }
}
.navbar-inverse {background-color: #1d365d;border-color: #111f36;
  .navbar-collapse {border-color: darken($navbar-inverse-bg, 7%);}
}
.navbar-brand {float: left;padding: $navbar-padding-vertical/2 $navbar-padding-horizontal;font-size: $font-size-large;line-height: $line-height-computed;
  &:hover,&:focus {text-decoration: none;}
  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,.navbar > .container-fluid & {margin-left: -$navbar-padding-horizontal;}
  }
}
.navbar-fixed-bottom, .navbar-fixed-top {position: fixed;right: 0;left: 0;border-width: 0 0 1px;z-index: 99999;}
.navbar-fixed-top {top: 0;
  + div {padding-top: $navbar-height;}
}
.navbar-fixed-bottom {bottom: 0;margin-bottom: 0;display: none;
  @media (min-width: $grid-float-breakpoint) {display: block;}
}
.navbar-toggle {position: relative;float: right;margin-right: $navbar-padding-horizontal;padding: $navbar-padding-vertical/2;margin-top: 13px;margin-bottom: 13px;background-color: transparent;border: 1px solid transparent;border-radius: 4px;
  .icon-bar {display: block;width: 22px;height: 2px;border-radius: 1px;background-color: #fff;
    + .icon-bar {margin-top: 4px;}
  }
  @media (min-width: $grid-float-breakpoint) {display: none;}
}
.nav {@include clearfix;padding-left: 0;list-style: none;margin: $navbar-padding-vertical/2 -$navbar-padding-horizontal;
  > li {position: relative;display: block;
    &.disabled > a {color: #999;
      &:focus,&:hover {color: #999;text-decoration: none;background-color: transparent;cursor: not-allowed;}
    }
    > a {position: relative;display: block;padding: $navbar-padding-vertical/2 $navbar-padding-horizontal;color: #b9c8e0;line-height: $line-height-computed;
      &:hover {text-decoration: none;background: rgba(0, 0, 0, .2);color: #fff;}
    }
  }
  .active > a {color: #fff;background-color: rgba(0, 0, 0, .2);}
  @media (min-width: $grid-float-breakpoint) {margin: 0;
    > li {float: left;
      > a {padding-top: $navbar-padding-vertical;padding-bottom: $navbar-padding-vertical;}
    }
  }
}

/* ============ sidebar ============ */
.sidebar-menu{
  dl a {color: #777;transition: .15s;position: relative;display: block;padding: .4em 1em;border-radius: 0;
    span {font-size: 12px;}
  }
  dt {text-transform: uppercase;font-weight: 700;font-size: 100%;color: #555;}
  dd {margin-top: 5px;
    &.active > a, > a:hover{text-decoration: none;background-color: #f5f5f5;}
  }
  &.active{
    .subnav {float: none;position: absolute;display: block;top: 0;right: 0;left: auto;width: 0;min-width: 0;margin: 0;list-style: none;z-index: 1000;background: #595959;overflow: hidden;transition: width .2s ease-in-out;}
    .is-subnav-visible {width: 180px;}
    dt {
      color: #777;
      font-weight: 100;
      background: #404040;
      text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
      border-top: 1px solid rgba(0, 0, 0, .3)
    }
    dd {
      margin: 0;
      > a {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
        border-top: 1px solid rgba(0, 0, 0, .3);
        color: #eee;
        &:hover {
          background: rgba(0, 0, 0, .5)
        }
      }
      &.active > a {
        background: rgba(0, 0, 0, .5)
      }
      p a {
        display: block;
        text-indent: 35px;
        font-size: 12px;
        &.active,&:hover{
          color: #2F486F
        }
      }
    }
    .actived > a {
      background: rgba(0, 0, 0, .5)
    }
    .is-subnav-visible a.active,.subnav a:hover{
      background-color: #eee;
      color: #333
    }
    .inactive{
      dd{
        > a,dt{
          opacity: .5
        }
        &.active > a {
          opacity: 1
        }
      }
      .f-keyboard_arrow_down:before {
        content: "\e314"
      }
    }
  }
  .inactive .subnav a {
    color: #FFF;
    display: block;
    text-decoration: none;
    padding: 11px 15px;
    margin-right: 0
  }
  .f-keyboard_arrow_down:before {
    content: "\e315";
    position: absolute;
    right: 10px;
    top: .3em;
    font-size: 20px
  }
}


.slider-contentmask, .slider-navmask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

.slider-navmask {
  right: 180px;
  z-index: 1
}


.sidebar-toggle {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100000;
  opacity: .5;
  -webkit-transition: .2s;
  transition: .2s;
  &:hover {
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
    opacity: 1
  }
}

.sidebar-toggle-btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  padding: 12px 0;
  border-radius: 50%;
  background-color: #eee;
  color: #555;
  text-align: center;
  span {
    display: block;
    line-height: 8px;
    font-weight: 700
  }
}

.index .sidebar-toggle-btn {
  display: none
}

.sidebar-slide.active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1090;
  background: rgba(0, 0, 0, .15)
}

.sidebar-slide-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1091;
  width: 0;
  max-width: 100%;
  background: #333;
  overflow-y: auto;
  transition: width .2s;
  -moz-transition: width .2s ease-in-out;
  -webkit-transition: width .2s;
  -o-transition: width .2s ease-in-out;
  .sidebar-slide-overlay {
    width: 255px
  }
}


.sidebar-slide-transform {
  -moz-transition: -moz-transform .2s ease-in-out;
  -o-transition: -o-transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  -moz-transform: translate3d(255px, 0, 0);
  -webkit-transform: translate3d(255px, 0, 0);
  transform: translate3d(255px, 0, 0)
}

@media (min-width: $grid-float-breakpoint) {
  .sidebar-menu {
    border-right: 1px solid #eee;
    dt {
      border-left: 3px solid #2F486F;
      margin-top: .4em;
      margin-bottom: .4em
    }
    a {
      padding: .3em 1em;
      &.active ~ .subnav {
        display: block
      }
    }
    dd p {
      display: none
    }
    .f-keyboard_arrow_down:before {
      content: "\e313"
    }
    a.active .f-keyboard_arrow_down:before {
      content: "\e316"
    }
  }
  .sidebar-slide {
    display: block;
    position: static;
    background: 0 0
  }
  .fixed {
    position: fixed
  }
  #sidebar .fixed {
    top: 61px;
    padding: 0
  }
  .sidebar-slide-overlay {
    position: relative;
    width: 100%;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    background: 0 0
  }
}


/* ============ mlist ============ */
.mlist {position: relative;padding-left: 90px;border-top: 1px solid #eee;border-bottom: 2px solid #eee;margin-bottom: 50px;
  ol{@include style-bullets(decimal,none);}
  .mtit {background: #F5F5F5;padding: 10px 0 10px 20px;font-size: 16px;position: absolute;left: 0;top: 0;bottom: 0;
    span {background: #2F486F;display: inline-block;padding: 8px 10px 8px 20px;color: #fff;}
  }
  .mcon {padding: 10px 10px 10px 20px;color: #888;line-height: 30px;min-height: 50px;}
  a {color: #2F486F;}
}

.mswitch{
  & + .mswitch {display: none;}
  blockquote {padding: 10px 15px;margin: 0 0 20px;background-color: #f5f5f5;border-left: 4px solid #91abd4;word-break: break-word;font-size: 15px;font-weight: 400;line-height: 30px;}
  & > ol{}
}


/* ============ example ============ */
.example-demo {
  border: 1px solid #eee;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 0 15px 15px;
  & + .example-visualize{margin-top:20px;}
}

.example-demo:before {
  content: 'Demo';
  display: block;
  color: #bbb;
  text-transform: uppercase;
  margin: 0 -15px 15px;
  padding: 4px 10px;
  font-size: 12px
}

.example-demo .example-visualize {
  margin: 1em
}

.example-visualize {
  padding: 39px 19px 14px;
  border: 1px solid #e8e8e8;
  position: relative;
  & + .example-visualize{border-top:0;}
  & + .example-demo{margin-top:20px;}

  & > ol {
    padding-bottom: 1em;
    padding-top: 1em;
    background: #fefefe;
    & > li {
      margin: .5em
    }
    &.decimal > li{
      margin: .5rem 0 .5rem 32px;
    }
    &.hanja{margin:0 1em;padding-left: 2.5em;}
  }
}

.example-visualize:before {
  content: 'view';
  display: block;
  color: #bbb;
  text-transform: uppercase;
  margin: 0 -15px 15px;
  padding: 4px 10px;
  font-size: 12px;
  background: #fafafa;
  position: absolute;
  left: 15px;
  top: 0;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8
}

.example-visualize .container {
  padding-right: 15px !important;
  padding-left: 15px !important
}

.example-visualize .navbar-header {
  display: block;
  width: 100%
}

.example-visualize .collapse.in {
  clear: both
}

.example-visualize .navbar-header .navbar-toggle {
  display: block
}

.example-visualize .nav {
  float: none !important
}

.example-visualize .nav > li {
  float: none
}

.example-desc {
  padding: 15px;
  background: #f5f5f5;
  color: #333;
  margin-bottom: 35px;
  line-height:1.8;
  .html{
    pre{background:#fff;}
  }
  & > ul {padding-left: 15px;
    padding-bottom: 1em;
    padding-top: 1em;
    background: #fefefe;
    & > li {
      margin-bottom: .5em
    }
  }
  & > ol {
    padding-bottom: 1em;
    padding-top: 1em;
    background: #fefefe;
    & > li {
      margin: .5em
    }
    &.decimal > li{
      margin: .5rem 0 .5rem 32px;
    }
    &.hanja{margin:0 1em;padding-left: 2.5em;}
  }
}
