// Layout
@import "mixins/library";
@import "variables/variables";

/* ============ Fonticons ============ */
.fonticons {overflow: hidden;}
.fonticons-list {list-style: none;
    li {float: left;@include size(50px,50px);line-height: 50px;padding: 10px;font-size: 12px;text-align: center;background-color: #f9f9f9;border: 1px solid #fff;
        &:hover {background: #2F486F;color: #fff;@include prefixer(transition,(background .5s ease-in, color .3s ease-out),('webkit','moz','o'));}
        [class*=" f-"],[class^=f-]{font-size: 20px;line-height: inherit;}
    }
}

@include font-face("fontico","../fonts/ico",("eot","woff","ttf","svg"),false);
//@include font-face("PingFang_Heavy","../fonts/PingFang_Heavy",("eot","woff","ttf","svg"),false);

//@font-face {
//    font-family: fontico;
//    src: url(../fonts/ico.eot);
//    src: url(../fonts/ico.eot?#iefix) format('embedded-opentype'), url(../fonts/ico.woff) format('woff'), url(../fonts/ico.ttf) format('truetype'), url(../fonts/ico.svg#glyphicons_halflingsregular) format('svg')
//}

[class*=" f-"], [class^=f-] {
    font-family: fontico;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.f-cart:before { content: "\e901" }
.f-home:before { content: "\e902" }
.f-coin-yen:before { content: "\e93e" }
.f-mobile:before { content: "\e958" }
.f-star-full:before { content: "\e9d9" }
.f-heart:before { content: "\e9da" }
.f-paper-clip:before { content: "\e001" }
.f-search:before { content: "\e036" }
.f-rewind:before { content: "\e051" }
.f-fast-forward:before { content: "\e055" }
.f-head:before { content: "\e074" }
.f-marquee:before { content: "\e082" }
.f-marquee-plus:before { content: "\e083" }
.f-marquee-minus:before { content: "\e084" }
.f-tag:before { content: "\e085" }
.f-plus:before { content: "\e114" }
.f-minus:before { content: "\e115" }
.f-check:before { content: "\e116" }
.f-cross:before { content: "\e117" }
.f-inbox:before { content: "\e122" }
.f-open:before { content: "\e128" }
.f-ellipsis:before { content: "\e129" }
.f-arrow_down:before { content: "\e313" }
.f-arrow_left:before { content: "\1f424" }
.f-arrow_right:before { content: "\e315" }
.f-arrow_up:before { content: "\e316" }
.f-heart2:before { content: "\e903" }
.f-star:before { content: "\e904" }
.f-trash:before { content: "\e905" }
.f-settings:before { content: "\e906" }
.f-camera:before { content: "\e907" }
.f-location:before { content: "\e908" }
.f-bubble:before { content: "\e909" }
.f-mail:before { content: "\e90a" }
.f-like:before { content: "\e90b" }
.f-fire:before { content: "\e90c" }
.f-image:before { content: "\e90d" }
.f-images:before { content: "\e90e" }
.f-qrcode:before { content: "\e938" }
.f-alarm:before { content: "\e950" }
.f-bell:before { content: "\e951" }
.f-quotes-left:before { content: "\e977" }
.f-quotes-right:before { content: "\e978" }
.f-spinner:before { content: "\e97a" }
.f-search_bold:before { content: "\e986" }
.f-warning:before { content: "\ea07" }
.f-notification:before { content: "\ea08" }
.f-question:before { content: "\ea09" }
.f-info:before { content: "\ea0c" }
.f-blocked:before { content: "\ea0e" }
.f-checkbox-checked:before { content: "\ea52" }
.f-checkbox-unchecked:before { content: "\ea53" }
.f-radio-checked:before { content: "\ea54" }
.f-radio-checked2:before { content: "\ea55" }
.f-radio-unchecked:before { content: "\ea56" }
.f-embed:before { content: "\ea80" }
