/* 倒计时插件-CountDown */
.countdown-block{/*width:620px;margin: 0 auto;*/padding: 36px 0 42px;height:80px;overflow: hidden;position: relative;
  .countdown{position: absolute;top:36px;left:0;right:0;}
}
.countdown{height:80px;background: #fff;
  ul{text-align: center;
    li{@include inline-block;line-height: 1;
      span{display: block;font-size: 12px;color:#999;padding-top: 13px;}
      strong{display: block;font-weight: normal;color:#555;/*width:102px;*/font-size: 14px;height:40px;line-height: 40px;}
      .i-colon{margin: 24px 2px;font-style: normal;font-size: 18px;}
    }
  }
  i{@include inline-block;}
}

/* 轮播插件-CAROUSEL */
.carousel-pic{text-align: center;position: relative;/*height: 426px;*/margin: 0 5%;
  .star-group{@include inline-block;border-radius: 22px;padding:3px 10px;@include rgba-background((#b7995f,.95));line-height: 0;
    .i-star{@include inline-block;margin: 0 0 0 1px;}
  }
  p{font-size: 12px;/*line-height: 24px;*/color:#555;
  }
  .block-item{@include inline-block;background:#e7f0fd;border-radius: 6px;padding-bottom: 5%;width:100%;cursor: pointer;position: relative;z-index: 1;
    img{display: block;margin-bottom: 5%;width:100%;}
  }
  .arrow-btns{position: absolute;left:0;right:0;top:50%;margin-top: -24px;
    [class*="arrow-"]{@include inline-block;cursor: pointer;
    }
    [class*="h"]{display: none;}
  }
  .arrow-next{float: right;
    &:hover{background: none;
      [class*="h"]{display: block;}
    }
  }
  .arrow-prev{float: left;
    &:hover{background: none;
      [class*="h"]{display: block;}
    }
  }
  li{position: absolute;top: 0;left: 50%;width:60%;margin-left:-30%;overflow:hidden;list-style: none;@include opacity(.8);transition: all 0.3s ease-out;
    [class*="shadow-line-"]{display: none;}
  }
  .li-1{z-index: 1;}
  .li-2{z-index: 3;@include opacity(1);position: relative;
    [class*="shadow-line-"]{@include inline-block;position: absolute;top:50%;margin-top: -133px;
    }
    .shadow-line-l{left:-32px;}
    .shadow-line-r{right:-32px;}
  }
  .li-3{z-index: 2;}
  .li-1{left:0;margin-left:0;
    @include prefixer(transform, translate(-38px,0) scale(0.74), ("webkit","ms","moz","o"));}
  .li-2{/*.transform(translate(0,0) scale(1));*/}
  .li-3{left:auto;margin-left: 0;right:0;
    @include prefixer(transform, translate(38px,0) scale(0.74), ("webkit","ms","moz","o"));}
}
