<!--footer-->
@@if(js){@@for (var i = 0; i < js.length; i++) {<script type="text/javascript" src="`+js[i]+`" ></script>
}}
<script>
    window.onload = function(){

        // /*init*////////////////////////////////////////
        try{
            if(document.getElementById('pageLoader')){
                document.getElementById('pageLoader').style.display='none';
            }
            var _hash = window.location.hash.split('#')[1];
            var tag = getElementsByClassName('mswitch');
            if(tag.length>0){
                if(!!_hash){
                    for(var i=0;i<tag.length;i++){
                        if(tag[i].id && new RegExp('.*' + tag[i].id + '.*').test(_hash)){
                            var _index = indexObj(tag,document.getElementById(tag[i].id));
                            getElementsByClassName(/.*/,'a','mlist')[_index].click();
                        }
                    }
                }
            }
        }catch(e){
            console.error(e);
        }
    };
</script>