<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!--QQ强制全屏-->
	<meta name="x5-fullscreen" content="true">
	<!--QQ应用模式-->
	<meta name="x5-page-mode" content=app>
	<!--UC应用模式-->
	<meta name="browsermode" content="application">

	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<title>@@title</title>
	<link rel="shortcut icon" href="/favicon.ico">
	@@if(styles){@@for (var i = 0; i < styles.length; i++) {
	<link rel="stylesheet" href="`+styles[i]+`" />
	}}
</head>
