<!DOCTYPE html>
<html>
@@include('includes/common/head.html', {
"title": "EFUI Plug-in library"
})

	<body>

		@@include('includes/common/pageLoader.html')
		@@include('includes/common/header.html')
		<div class="view-container container">
			<div class="main-container">
				<div class="search-bar col-group clearfix">
					<div class="col-group-7"><input type="text" class="i-text i-text-block" id="searchVal"></div>
					<div class="col-group-3"><button type="submit" class="btn btn-primary btn-block" id="searchBtn">搜索</button></div>
				</div>
				<div class="search-result">
					<ul id="searchResult"></ul>
				</div>
			</div>
		</div>

		@@include('includes/common/footer.html')
	</body>

</html>
